<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>牙科诊所管理系统 API</title>
  </head>

  <body>
    <img src="/image/koa.jpg" />
    <h1>牙科诊所管理系统 API</h1>
    <h4>Dental Admin API based on koa2</h4>
    当你看到这个页面时,这个服务已经成功跑起来了~
    <h4>接口使用须知</h4>
    <span>使用token(jwt)进行登录验证，需要登录的接口要在请求头中带上登录后返回的token才能获取到数据。</span>
    <a href="https://www.apifox.cn/apidoc/shared-6ec12252-6de6-4404-bdd7-a087d9e13d46" target="_blank">查看文档</a>
  </body>
</html>
